.add-item-button {
    
    color: white;
    margin-top: -80px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 10px;
    background-color: rgb(36, 104, 207);
    opacity: 0.8;
    box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition:box-shadow 0.5s;
    
    
}

button:focus {outline:0;}

