.login-form {
  margin-bottom: 10px;
  padding-top: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-form input {
  margin-top: 10px;
  width: 21em;
  height: 31px;
  margin-bottom: 10px;
  border: 1px solid #a6a6a6;
  border-top-color: #949494;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5),
    0 1px 0 rgba(0, 0, 0, 0.07) inset;
  outline: 0;
}
form input:focus {
  border-color: rgb(36, 104, 207);
  box-shadow: 0 0 3px 2px rgba(36, 104, 207, 0.5);
}

form button {
  width: 20em;
  height: 31px;
  margin-top: 10px;
  transition: all 100ms linear;
  background-color: rgb(36, 104, 207);
  color: white;
  border: none;
  margin-bottom: 15px;
}

form button:hover {
  background: rgb(230, 158, 34);
}

form button:active {
  transform: translateY(4px);
}
